{{ block title }}
  Beliefs about scores in the Math Task
{{ endblock }}

{{ block content }}
<p>
    Please provide your estimate about the scores of specific subgroups in the <b> math task </b> where {{ C.num_integers }} numbers had to be added up.
    Remember that the possible score in the math task ranges from 0 to {{ C.num_rounds_task}}.
</p>
<p id="container">
    If you want to read the instructions for the task again, click <b class="openbox" id="openbox">here</b>.</p>
<p class="infobox hidden" id="infobox">
    [!insert instructions beliefs from page before!]
</p>

<hr>
<br>


{{ if participant.cats == "grp" }}
<p> Scores of the {{ C.samples }} sampled <b>male</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_male1" class="form-control" >
        <td><label for="m_male1">points</label>
        {{ formfield_errors 'm_male1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_male2" class="form-control" >
        <td><label for="m_male2">points</label>
        {{ formfield_errors 'm_male2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_male3" class="form-control" >
        <td><label for="m_male3">points</label>
        {{ formfield_errors 'm_male3' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>female</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_female1" class="form-control" id="m_male1" >
        <td><label for="m_female1">points</label>
        {{ formfield_errors 'm_female1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_female2" class="form-control" >
        <td><label for="m_female2">points</label>
        {{ formfield_errors 'm_female2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_female3" class="form-control" >
        <td><label for="m_female3">points</label>
        {{ formfield_errors 'm_female3' }} </td>
  </tr>
</table>

<br>
<hr>
<br>

<p> Scores of the {{ C.samples }} sampled <b>white</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_white1" class="form-control" >
        <td><label for="m_white1">points</label>
        {{ formfield_errors 'm_white1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_white2" class="form-control" >
        <td><label for="m_white2">points</label>
        {{ formfield_errors 'm_white2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_white3" class="form-control" >
        <td><label for="m_white3">points</label>
        {{ formfield_errors 'm_white3' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>Asian</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_asian1" class="form-control" >
        <td><label for="m_asian1">points</label>
      {{ formfield_errors 'm_asian1' }}</td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_asian2" class="form-control" >
        <td><label for="m_asian2">points</label>
        {{ formfield_errors 'm_asian2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_asian3" class="form-control" >
        <td><label for="m_asian3">points</label>
        {{ formfield_errors 'm_asian3' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>Hispanic</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_male1" class="form-control" >
        <td><label for="m_hispanic1">points</label>
      {{ formfield_errors 'm_hispanic1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_hispanic2" class="form-control" >
        <td><label for="m_hispanic2">points</label>
        {{ formfield_errors 'm_hispanic2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_hispanic3" class="form-control" >
        <td><label for="m_hispanic3">points</label></td>
        {{ formfield_errors 'm_hispanic3' }}
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>black</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_black1" class="form-control" id="m_male1" >
        <td><label for="m_black1">points</label>
        {{ formfield_errors 'm_black1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_black2" class="form-control" >
        <td><label for="m_black2">points</label>
        {{ formfield_errors 'm_black2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_black3" class="form-control" >
        <td><label for="m_black3">points</label>
        {{ formfield_errors 'm_black3' }} </td>
  </tr>
</table>
<br>
<hr>
<br>

<p> Scores of the {{ C.samples }} sampled <b>Democratic</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_democrat1" class="form-control" >
        <td><label for="m_democrat1">points</label>
        {{ formfield_errors 'm_democrat1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_democrat2" class="form-control" >
        <td><label for="m_democrat2">points</label>
        {{ formfield_errors 'm_democrat2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_democrat2" class="form-control" >
        <td><label for="m_democrat2">points</label>
        {{ formfield_errors 'm_democrat2' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>Republican</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_republican1" class="form-control" >
        <td><label for="m_republican1">points</label>
        {{ formfield_errors 'm_republican1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_republican2" class="form-control" >
        <td><label for="m_republican2">points</label>
        {{ formfield_errors 'm_republican2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_republican3" class="form-control" >
        <td><label for="m_republican3">points</label>
        {{ formfield_errors 'm_republican3' }} </td>
  </tr>
</table>
{{ endif }}





 {{ if participant.cats == "prg" }}
<p> Scores of the {{ C.samples }} sampled <b>Democratic</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_democrat1" class="form-control" >
        <td><label for="m_democrat1">points</label>
        {{ formfield_errors 'm_democrat1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_democrat2" class="form-control" >
        <td><label for="m_democrat2">points</label>
        {{ formfield_errors 'm_democrat2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_democrat2" class="form-control" >
        <td><label for="m_democrat2">points</label>
        {{ formfield_errors 'm_democrat2' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>Republican</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_republican1" class="form-control" >
        <td><label for="m_republican1">points</label>
        {{ formfield_errors 'm_republican1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_republican2" class="form-control" >
        <td><label for="m_republican2">points</label>
        {{ formfield_errors 'm_republican2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_republican3" class="form-control" >
        <td><label for="m_republican3">points</label>
        {{ formfield_errors 'm_republican3' }} </td>
  </tr>
</table>

<br>
<hr>
<br>

<p> Scores of the {{ C.samples }} sampled <b>white</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_white1" class="form-control" >
        <td><label for="m_white1">points</label>
        {{ formfield_errors 'm_white1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_white2" class="form-control" >
        <td><label for="m_white2">points</label>
        {{ formfield_errors 'm_white2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_white3" class="form-control" >
        <td><label for="m_white3">points</label>
        {{ formfield_errors 'm_white3' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>Asian</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_asian1" class="form-control" >
        <td><label for="m_asian1">points</label>
      {{ formfield_errors 'm_asian1' }}</td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_asian2" class="form-control" >
        <td><label for="m_asian2">points</label>
        {{ formfield_errors 'm_asian2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_asian3" class="form-control" >
        <td><label for="m_asian3">points</label>
        {{ formfield_errors 'm_asian3' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>Hispanic</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_male1" class="form-control" >
        <td><label for="m_hispanic1">points</label>
      {{ formfield_errors 'm_hispanic1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_hispanic2" class="form-control" >
        <td><label for="m_hispanic2">points</label>
        {{ formfield_errors 'm_hispanic2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_hispanic3" class="form-control" >
        <td><label for="m_hispanic3">points</label></td>
        {{ formfield_errors 'm_hispanic3' }}
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>black</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_black1" class="form-control" id="m_male1" >
        <td><label for="m_black1">points</label>
        {{ formfield_errors 'm_black1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_black2" class="form-control" >
        <td><label for="m_black2">points</label>
        {{ formfield_errors 'm_black2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_black3" class="form-control" >
        <td><label for="m_black3">points</label>
        {{ formfield_errors 'm_black3' }} </td>
  </tr>
</table>
<br>
<hr>
<br>

<p> Scores of the {{ C.samples }} sampled <b>male</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_male1" class="form-control" id="m_male1" >
        <td><label for="m_male1">points</label>
        {{ formfield_errors 'm_male1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_male2" class="form-control" >
        <td><label for="m_male2">points</label>
        {{ formfield_errors 'm_male2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_male3" class="form-control" >
        <td><label for="m_male3">points</label>
        {{ formfield_errors 'm_male3' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>female</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_female1" class="form-control" id="m_male1" >
        <td><label for="m_female1">points</label>
        {{ formfield_errors 'm_female1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_female2" class="form-control" >
        <td><label for="m_female2">points</label>
        {{ formfield_errors 'm_female2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_female3" class="form-control" >
        <td><label for="m_female3">points</label>
        {{ formfield_errors 'm_female3' }} </td>
  </tr>
</table>
{{ endif }}

















 {{ if participant.cats == "rgp" }}
<p> Scores of the {{ C.samples }} sampled <b>white</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_white1" class="form-control" >
        <td><label for="m_white1">points</label>
        {{ formfield_errors 'm_white1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_white2" class="form-control" >
        <td><label for="m_white2">points</label>
        {{ formfield_errors 'm_white2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_white3" class="form-control" >
        <td><label for="m_white3">points</label>
        {{ formfield_errors 'm_white3' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>Asian</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_asian1" class="form-control" >
        <td><label for="m_asian1">points</label>
      {{ formfield_errors 'm_asian1' }}</td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_asian2" class="form-control" >
        <td><label for="m_asian2">points</label>
        {{ formfield_errors 'm_asian2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_asian3" class="form-control" >
        <td><label for="m_asian3">points</label>
        {{ formfield_errors 'm_asian3' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>Hispanic</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_male1" class="form-control" >
        <td><label for="m_hispanic1">points</label>
      {{ formfield_errors 'm_hispanic1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_hispanic2" class="form-control" >
        <td><label for="m_hispanic2">points</label>
        {{ formfield_errors 'm_hispanic2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_hispanic3" class="form-control" >
        <td><label for="m_hispanic3">points</label></td>
        {{ formfield_errors 'm_hispanic3' }}
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>black</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_black1" class="form-control" id="m_male1" >
        <td><label for="m_black1">points</label>
        {{ formfield_errors 'm_black1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_black2" class="form-control" >
        <td><label for="m_black2">points</label>
        {{ formfield_errors 'm_black2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_black3" class="form-control" >
        <td><label for="m_black3">points</label>
        {{ formfield_errors 'm_black3' }} </td>
  </tr>
</table>
<br>
<hr>
<br>


<p> Scores of the {{ C.samples }} sampled <b>male</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_male1" class="form-control" id="m_male1" >
        <td><label for="m_male1">points</label>
        {{ formfield_errors 'm_male1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_male2" class="form-control" >
        <td><label for="m_male2">points</label>
        {{ formfield_errors 'm_male2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_male3" class="form-control" >
        <td><label for="m_male3">points</label>
        {{ formfield_errors 'm_male3' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>female</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_female1" class="form-control" id="m_male1" >
        <td><label for="m_female1">points</label>
        {{ formfield_errors 'm_female1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_female2" class="form-control" >
        <td><label for="m_female2">points</label>
        {{ formfield_errors 'm_female2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_female3" class="form-control" >
        <td><label for="m_female3">points</label>
        {{ formfield_errors 'm_female3' }} </td>
  </tr>
</table>

<br>
<hr>
<br>


<p> Scores of the {{ C.samples }} sampled <b>Democratic</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_democrat1" class="form-control" >
        <td><label for="m_democrat1">points</label>
        {{ formfield_errors 'm_democrat1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_democrat2" class="form-control" >
        <td><label for="m_democrat2">points</label>
        {{ formfield_errors 'm_democrat2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_democrat2" class="form-control" >
        <td><label for="m_democrat2">points</label>
        {{ formfield_errors 'm_democrat2' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>Republican</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_republican1" class="form-control" >
        <td><label for="m_republican1">points</label>
        {{ formfield_errors 'm_republican1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_republican2" class="form-control" >
        <td><label for="m_republican2">points</label>
        {{ formfield_errors 'm_republican2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_republican3" class="form-control" >
        <td><label for="m_republican3">points</label>
        {{ formfield_errors 'm_republican3' }} </td>
  </tr>
</table>
{{ endif }}
















 {{ if participant.cats == "pgr" }}
<p> Scores of the {{ C.samples }} sampled <b>Democratic</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_democrat1" class="form-control" >
        <td><label for="m_democrat1">points</label>
        {{ formfield_errors 'm_democrat1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_democrat2" class="form-control" >
        <td><label for="m_democrat2">points</label>
        {{ formfield_errors 'm_democrat2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_democrat2" class="form-control" >
        <td><label for="m_democrat2">points</label>
        {{ formfield_errors 'm_democrat2' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>Republican</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_republican1" class="form-control" >
        <td><label for="m_republican1">points</label>
        {{ formfield_errors 'm_republican1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_republican2" class="form-control" >
        <td><label for="m_republican2">points</label>
        {{ formfield_errors 'm_republican2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_republican3" class="form-control" >
        <td><label for="m_republican3">points</label>
        {{ formfield_errors 'm_republican3' }} </td>
  </tr>
</table>

<br>
<hr>
<br>

<p> Scores of the {{ C.samples }} sampled <b>male</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_male1" class="form-control" id="m_male1" >
        <td><label for="m_male1">points</label>
        {{ formfield_errors 'm_male1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_male2" class="form-control" >
        <td><label for="m_male2">points</label>
        {{ formfield_errors 'm_male2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_male3" class="form-control" >
        <td><label for="m_male3">points</label>
        {{ formfield_errors 'm_male3' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>female</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_female1" class="form-control" id="m_male1" >
        <td><label for="m_female1">points</label>
        {{ formfield_errors 'm_female1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_female2" class="form-control" >
        <td><label for="m_female2">points</label>
        {{ formfield_errors 'm_female2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_female3" class="form-control" >
        <td><label for="m_female3">points</label>
        {{ formfield_errors 'm_female3' }} </td>
  </tr>
</table>

<br>
<hr>
<br>

<p> Scores of the {{ C.samples }} sampled <b>white</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_white1" class="form-control" >
        <td><label for="m_white1">points</label>
        {{ formfield_errors 'm_white1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_white2" class="form-control" >
        <td><label for="m_white2">points</label>
        {{ formfield_errors 'm_white2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_white3" class="form-control" >
        <td><label for="m_white3">points</label>
        {{ formfield_errors 'm_white3' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>Asian</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_asian1" class="form-control" >
        <td><label for="m_asian1">points</label>
      {{ formfield_errors 'm_asian1' }}</td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_asian2" class="form-control" >
        <td><label for="m_asian2">points</label>
        {{ formfield_errors 'm_asian2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_asian3" class="form-control" >
        <td><label for="m_asian3">points</label>
        {{ formfield_errors 'm_asian3' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>Hispanic</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_male1" class="form-control" >
        <td><label for="m_hispanic1">points</label>
      {{ formfield_errors 'm_hispanic1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_hispanic2" class="form-control" >
        <td><label for="m_hispanic2">points</label>
        {{ formfield_errors 'm_hispanic2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_hispanic3" class="form-control" >
        <td><label for="m_hispanic3">points</label></td>
        {{ formfield_errors 'm_hispanic3' }}
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>black</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_black1" class="form-control" id="m_male1" >
        <td><label for="m_black1">points</label>
        {{ formfield_errors 'm_black1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_black2" class="form-control" >
        <td><label for="m_black2">points</label>
        {{ formfield_errors 'm_black2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_black3" class="form-control" >
        <td><label for="m_black3">points</label>
        {{ formfield_errors 'm_black3' }} </td>
  </tr>
</table>
{{ endif }}















 {{ if participant.cats == "gpr" }}
<p> Scores of the {{ C.samples }} sampled <b>male</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_male1" class="form-control" id="m_male1" >
        <td><label for="m_male1">points</label>
        {{ formfield_errors 'm_male1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_male2" class="form-control" >
        <td><label for="m_male2">points</label>
        {{ formfield_errors 'm_male2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_male3" class="form-control" >
        <td><label for="m_male3">points</label>
        {{ formfield_errors 'm_male3' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>female</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_female1" class="form-control" id="m_male1" >
        <td><label for="m_female1">points</label>
        {{ formfield_errors 'm_female1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_female2" class="form-control" >
        <td><label for="m_female2">points</label>
        {{ formfield_errors 'm_female2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_female3" class="form-control" >
        <td><label for="m_female3">points</label>
        {{ formfield_errors 'm_female3' }} </td>
  </tr>
</table>

<br>
<hr>
<br>


<p> Scores of the {{ C.samples }} sampled <b>Democratic</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_democrat1" class="form-control" >
        <td><label for="m_democrat1">points</label>
        {{ formfield_errors 'm_democrat1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_democrat2" class="form-control" >
        <td><label for="m_democrat2">points</label>
        {{ formfield_errors 'm_democrat2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_democrat2" class="form-control" >
        <td><label for="m_democrat2">points</label>
        {{ formfield_errors 'm_democrat2' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>Republican</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_republican1" class="form-control" >
        <td><label for="m_republican1">points</label>
        {{ formfield_errors 'm_republican1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_republican2" class="form-control" >
        <td><label for="m_republican2">points</label>
        {{ formfield_errors 'm_republican2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_republican3" class="form-control" >
        <td><label for="m_republican3">points</label>
        {{ formfield_errors 'm_republican3' }} </td>
  </tr>
</table>

<br>
<hr>
<br>

<p> Scores of the {{ C.samples }} sampled <b>white</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_white1" class="form-control" >
        <td><label for="m_white1">points</label>
        {{ formfield_errors 'm_white1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_white2" class="form-control" >
        <td><label for="m_white2">points</label>
        {{ formfield_errors 'm_white2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_white3" class="form-control" >
        <td><label for="m_white3">points</label>
        {{ formfield_errors 'm_white3' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>Asian</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_asian1" class="form-control" >
        <td><label for="m_asian1">points</label>
      {{ formfield_errors 'm_asian1' }}</td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_asian2" class="form-control" >
        <td><label for="m_asian2">points</label>
        {{ formfield_errors 'm_asian2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_asian3" class="form-control" >
        <td><label for="m_asian3">points</label>
        {{ formfield_errors 'm_asian3' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>Hispanic</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_male1" class="form-control" >
        <td><label for="m_hispanic1">points</label>
      {{ formfield_errors 'm_hispanic1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_hispanic2" class="form-control" >
        <td><label for="m_hispanic2">points</label>
        {{ formfield_errors 'm_hispanic2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_hispanic3" class="form-control" >
        <td><label for="m_hispanic3">points</label></td>
        {{ formfield_errors 'm_hispanic3' }}
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>black</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_black1" class="form-control" id="m_male1" >
        <td><label for="m_black1">points</label>
        {{ formfield_errors 'm_black1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_black2" class="form-control" >
        <td><label for="m_black2">points</label>
        {{ formfield_errors 'm_black2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_black3" class="form-control" >
        <td><label for="m_black3">points</label>
        {{ formfield_errors 'm_black3' }} </td>
  </tr>
</table>
{{ endif }}
















 {{ if participant.cats == "rpg" }}
<p> Scores of the {{ C.samples }} sampled <b>white</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_white1" class="form-control" >
        <td><label for="m_white1">points</label>
        {{ formfield_errors 'm_white1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_white2" class="form-control" >
        <td><label for="m_white2">points</label>
        {{ formfield_errors 'm_white2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_white3" class="form-control" >
        <td><label for="m_white3">points</label>
        {{ formfield_errors 'm_white3' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>Asian</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_asian1" class="form-control" >
        <td><label for="m_asian1">points</label>
      {{ formfield_errors 'm_asian1' }}</td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_asian2" class="form-control" >
        <td><label for="m_asian2">points</label>
        {{ formfield_errors 'm_asian2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_asian3" class="form-control" >
        <td><label for="m_asian3">points</label>
        {{ formfield_errors 'm_asian3' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>Hispanic</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_male1" class="form-control" >
        <td><label for="m_hispanic1">points</label>
      {{ formfield_errors 'm_hispanic1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_hispanic2" class="form-control" >
        <td><label for="m_hispanic2">points</label>
        {{ formfield_errors 'm_hispanic2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_hispanic3" class="form-control" >
        <td><label for="m_hispanic3">points</label></td>
        {{ formfield_errors 'm_hispanic3' }}
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>black</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_black1" class="form-control" id="m_male1" >
        <td><label for="m_black1">points</label>
        {{ formfield_errors 'm_black1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_black2" class="form-control" >
        <td><label for="m_black2">points</label>
        {{ formfield_errors 'm_black2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_black3" class="form-control" >
        <td><label for="m_black3">points</label>
        {{ formfield_errors 'm_black3' }} </td>
  </tr>
</table>
<br>
<hr>
<br>

<p> Scores of the {{ C.samples }} sampled <b>Democratic</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_democrat1" class="form-control" >
        <td><label for="m_democrat1">points</label>
        {{ formfield_errors 'm_democrat1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_democrat2" class="form-control" >
        <td><label for="m_democrat2">points</label>
        {{ formfield_errors 'm_democrat2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_democrat2" class="form-control" >
        <td><label for="m_democrat2">points</label>
        {{ formfield_errors 'm_democrat2' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>Republican</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_republican1" class="form-control" >
        <td><label for="m_republican1">points</label>
        {{ formfield_errors 'm_republican1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_republican2" class="form-control" >
        <td><label for="m_republican2">points</label>
        {{ formfield_errors 'm_republican2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_republican3" class="form-control" >
        <td><label for="m_republican3">points</label>
        {{ formfield_errors 'm_republican3' }} </td>
  </tr>
</table>


<br>
<hr>
<br>


<p> Scores of the {{ C.samples }} sampled <b>male</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_male1" class="form-control" id="m_male1" >
        <td><label for="m_male1">points</label>
        {{ formfield_errors 'm_male1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_male2" class="form-control" >
        <td><label for="m_male2">points</label>
        {{ formfield_errors 'm_male2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_male3" class="form-control" >
        <td><label for="m_male3">points</label>
        {{ formfield_errors 'm_male3' }} </td>
  </tr>
</table>

<br>

<p> Scores of the {{ C.samples }} sampled <b>female</b> participants in the math task: </p>
<table>
  <tr>
    <th class="headlinecolumn">Mean: &nbsp;</th>
        <td class="inputcolumn"><input type="number" min="0" max="50" name="m_female1" class="form-control" id="m_male1" >
        <td><label for="m_female1">points</label>
        {{ formfield_errors 'm_female1' }} </td>
        <td class="fillercolumn">&nbsp;</td>
    <th>Top 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_female2" class="form-control" >
        <td><label for="m_female2">points</label>
        {{ formfield_errors 'm_female2' }} </td>
          <td class="fillercolumn">&nbsp;</td>
    <th>Bottom 10: &nbsp;</th>
        <td><input type="number" min="0" max="50" name="m_female3" class="form-control" >
        <td><label for="m_female3">points</label>
        {{ formfield_errors 'm_female3' }} </td>
  </tr>
</table>
{{ endif }}





<br> <br>

    {{ next_button }}
{{ endblock }}


{{ block styles }}
<style type="text/css">
.hidden {
	display:none;
}
.infobox {
    background-color:#f0f0f5
    }
.openbox {
        cursor: pointer;
		margin: 15px 0;
		  }

.fillercolumn {
    width: 15%;
    }

.inputcolumn {
    width: 65px;
    }

    table {
      text-align: center;
      width: 100%;
    }

   label {
      display: inline-block;
      float: left;
    }
</style>
{{ endblock }}
{{ block app_scripts }}
<script>
document.getElementById("openbox").addEventListener("click", function(){
document.getElementById("infobox").classList.remove("hidden");
document.getElementById("container").classList.add("hidden");
        });

</script>
{{ endblock }}
