{{ block title }}
    Background Information
{{ endblock }}
{{ block content }}

{{ if participant.task == "sequence" }}
<p>
    This study is based on a previous survey, in which we asked participants to complete several sequences of numbers.
    To find the missing number of a sequence, they had to figure out the pattern according to which the number sequence was constructed.
    The task ended either after {{C.time_sequence_mins}} minutes or after they had completed all {{C.num_rounds_task}} sequences.
    You have {{C.time_sequence_mins}} minutes to complete a maximum of {{C.num_rounds_task}} sequences.
</p>
    <p style="font-size:18px;"> <u> Example: </u>  </p>
<table class="center">
    <tr>
        <td style="font-size:30px; width:70"> 9 , 8 , 7 , 6 ,  </td>
        <td>&nbsp;</td>
        <td style="width:50px">
            <input type="number" min="0" name="input_sequence" id="input_sequence" class="form-control" readonly>
        </td>
    </tr>
</table>
<br>
<p>
    The participants received {{ C.bonusrate }} for each correctly solved sequence.
</p>

{{ endif }}


{{ if participant.task == "math" }}
<p>
    This study is based on a previous survey, in which we asked participants to solve several short math questions.
    In each question, they were asked to provide the sum of {{C.num_integers}} integer numbers.
    The task ended either after {{C.time_math_mins}} minutes or after they had solved all {{C.num_rounds_task}} questions.
    You have {{C.time_math_mins}} minutes to complete a maximum of {{C.num_rounds_task}} questions.
</p>
    <p style="font-size:18px;"> <u> Example: </u>  </p>
    <table class="center">
    <tr>
        <td style="font-size:30px; width:70"> {{ C.example_math_n1 }} + {{ C.example_math_n2 }} + {{ C.example_math_n3 }} + {{ C.example_math_n4 }} + {{ C.example_math_n5 }} = </td>
        <td>&nbsp;</td>
        <td style="width:50px">
            <input type="number" min="0" name="input_math" id="input_math" class="form-control" readonly>
        </td>
    </tr>
</table>
<br>
<p>
    The participants received {{ C.bonusrate }} for each correctly solved sequence.
</p>

{{ endif }}


    {{ next_button }}

{{ endblock }}


{{ block styles }}
<style type="text/css">
.center {
  margin-left: auto;
  margin-right: auto;
}
</style>
{{ endblock }}