{{ block title }}
    Assessment of Your Own Performance
{{ endblock }}
{{ block content }}
{{ if participant.task == "math" }}
<p>
    How many of the {{ C.num_rounds_task}} questions in the adding task do you think you have answered correctly?
</p>
<table>
    <tr>
        <td>
        <input type="number" min="0" max="50" name="est_math" id="est_math" required class="form-control">
        </td>
        <td>
            <label for="est_math"> questions</label>
        </td>
    </tr>
</table>
<p>
{{ formfield 'est_avg_math' }}
</p>
{{ endif }}

{{ if participant.task == "sequence" }}


<br>
<p>
    How many of the {{ C.num_rounds_task }} sequences in the sequence task do you think you have completed correctly?
</p>
<table>
    <tr>
        <td>
            <input type="number" min="0" max="50" name="est_sequence" id="est_sequence" required class="form-control">
        </td>
        <td>
            <label for="est_math"> sequences</label>
        </td>
    </tr>
</table>
<p>
{{ formfield 'est_avg_sequence' }}
</p>
{{ endif }}

    {{ next_button }}

{{ endblock }}
